@model IEnumerable<Apoteka.ViewModels.LijekVM>

@{
    ViewBag.Title = "Prikaz lijekova";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prikaz lijekova</h2>

<p>
    @Html.ActionLink("Stvori", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Trgovačko Ime
        </th>
        <th>
            Farmaceutsko Ime
        </th>
        <th>
            Jačina
        </th>
        <th>
            Cijena
        </th>
        <th>
            Referenca na uputu
        </th>
        <th>
            Količina
        </th>
        <th>
            Proizvođač
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrgovackoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmaceutskoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jacina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferencaUputa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProizvodjacNaziv)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.LijekId }) |
                @Html.ActionLink("Izbriši", "Delete", new { id = item.LijekId })
            </td>
        </tr>
    }

</table>
