@model IEnumerable<Apoteka.ViewModels.KorisnikVM>

@{
    ViewBag.Title = "Prikaz korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prikaz lijekova</h2>

<p>
    @Html.ActionLink("Stvori", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadnoMjestoNaziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RadnoMjestoNaziv)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new {  id=item.KorisnikId  }) |
            @Html.ActionLink("Izbriši", "Delete", new {  id=item.KorisnikId })
        </td>
    </tr>
}

</table>
