@model IEnumerable<Apoteka.ViewModels.NabavljacVM>

@{
    ViewBag.Title = "Prikaz nabavljača";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prikaz nabavljača</h2>

<p>
    @Html.ActionLink("Stvori", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Naziv
        </th>
        <th>
            Adresa
        </th>
        <th>
            IBAN
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iban)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new {  id=item.NabavljacId  }) |
            @Html.ActionLink("Izbriši", "Delete", new {  id=item.NabavljacId  })
        </td>
    </tr>
}

</table>
