@model IEnumerable<Apoteka.ViewModels.NarudzbenicaVM>

@{
    ViewBag.Title = "Prikaz narudžbenica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prikaz narudžbenica</h2>

<p>
    @Html.ActionLink("Stvori", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Datum i vrijeme izdavanja
        </th>
        <th>
           Adresa dostave
        </th>
        <th>
           Korisnik
        <th>
            Nabavljač
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIvrijemeIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresaDostave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KorisnikNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NabavljacNaziv)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new {  id=item.NarudzbenicaId  }) |
            @Html.ActionLink("Izbriši", "Delete", new {  id=item.NarudzbenicaId  })
        </td>
    </tr>
}

</table>
